.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f7f7f7;
  min-height: 100vh;
  font-family: 'Verdana', sans-serif;
  padding-top: 80px;
}

.signup-page h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    padding-top: 80px; /* ajusta seg�n la altura real de la barra */
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 300px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f7f7f7;
    border: 2px solid #324e3825; /* Borde verde */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.signup-input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #6eaf71;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

.signup-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #70c065; /* Azul mentor */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: #4a7c45;
}

.signup-message {
  margin-top: 0.5rem;
  font-weight: bold;
  text-align: center;
}
